.bestMonters {
    background-color: #ffffff;
    background-image: url(../Assets/Best_Mentors/componfnf.png), url(../Assets/Best_Mentors/componfnf1.png);
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: 20rem, auto;
    height: 500px;
    width: 100%;
}

.mentor-text {
    color: #2D2671;
    font-size: xx-large;
    font-weight: bolder;
    padding-top: 7%;
    text-align: center;
}

.mentorRow {
    margin-top: 7%;
    /* padding-top: 20px; */
}

.bestmentor {
    margin: 10px;
    height: 17rem;
    width: 15rem;
    background-color: #F3F3F3;
    transition: all 0.4s;
}

.card-img {
    height: 40%;
    width: 45%;
    border-radius: 100%;
    background-color: #E8E1E6;
    text-align: center;
    margin-top: 20px;
    transition: all 0.5s;
    overflow: visible;
}

.bestmentor:hover {
    background-color: #ffffff;
    height: 19rem;
    width: 17rem;
}

.bestmentor:hover .card-img {
    height: 40%;
    width: 45%;
    border-radius: 100%;
    background-color: #6156A3;
    text-align: center;
    margin-top: -10px;
    overflow: visible;
}

.mentortitle {
    color: #4D4887;
    font-size: x-large;
    font-weight: bold;
}

.hide {
    display: none;
    transform: display 0.5s;
}

.bestmentor:hover .hide {
    display: block;
    color: #D0D0D0;
}


/* hapy students */

.happystudents {
    height: 500px;
    width: 100%;
    background-color: #F4F3F2;
}

.hapystudents-text {
    font-size: xx-large;
    padding-top: 25px;
    font-weight: bold;
    color: #5B5B5B;
}

.happystudent-card {
    height: 18rem;
    width: 55rem;
    background-color: #FFFFFF;
    display: flex;
}

.hapy-card-text {
    color: #BCBCBC;
    font-style: italic;
    font-weight: bold;
    padding: 20px;
    align-items: center;
}

.hapy-student-name {
    color: #686399;
    font-size: xx-large;
    font-weight: bold;
    padding-left: 10px;
}

.happy-img {
    margin-top: -40px;
}